.vs/
Backend/GameStore/.vs/
*.user
*.suo

Backend/GameStore/GameStore/bin/
Backend/GameStore/GameStore/obj/
Backend/GameStore/GameStore.Application/bin/
Backend/GameStore/GameStore.Application/obj/
Backend/GameStore/GameStore.Domain/bin/
Backend/GameStore/GameStore.Domain/obj/
Backend/GameStore/GameStore.Infrastructure/bin/
Backend/GameStore/GameStore.Infrastructure/obj/

Backend/**/*.db
Backend/**/*.db-shm
Backend/**/*.db-wal

*.db
*.db-shm
*.db-wal